@if(Server is not null)
{

<div data-name="@Server.Name" 
        data-status= "@(Server.IsOnline ? "online" : "offline")"
        style="color: @(Server.IsOnline ? "green" : "red")">
    @Server.Name is in @Server.City that is @(Server.IsOnline ? "online" : "offline").
    &nbsp;
   <button type="button" class="btn btn-primary" @onclick="ChangeServerStatus">Turn On/Off</button>
</div>

}

@code {
    private Server Server { get; set; } = new Server { Name = "Server 1", City = "Toronto" };

    private void ChangeServerStatus()
    {
        Server.IsOnline = !Server.IsOnline;
    }
}
