@if(Server is not null)
{
    <EditForm Enhance Model="Server" FormName="serverComponentForm" OnSubmit="ChangeServerStatus">

        <InputNumber @bind-Value="Server.ServerId" hidden/>
        <InputText @bind-Value="Server.Name" hidden />
        <InputText @bind-Value="Server.City" hidden />
        <InputCheckbox @bind-Value="Server.IsOnline" hidden />

        <div data-name="@Server.Name" 
             data-status= "@(Server.IsOnline ? "online" : "offline")"
             style="color: @(Server.IsOnline ? "green" : "red")">
            @Server.Name is in @Server.City that is @(Server.IsOnline ? "online" : "offline").
            &nbsp;
            <button type="submit" class="btn btn-primary">Turn On/Off</button>
        </div>
    </EditForm>
}

@code {
    [SupplyParameterFromForm]
    private Server? Server { get; set; }/*  = new Server { Name = "Server 1", City = "Toronto" }; */

    protected override void OnParametersSet()
    {
        Server ??= new Server { Name = "Server 1", City = "Toronto" };
    }

    private void ChangeServerStatus()
    {
        if(Server is null)
        {
            return;
        }

        Server.IsOnline = !Server.IsOnline;
    }
}
